@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Caveat', cursive;
}

body {
    background: url(./assets/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(37, 38, 39);
    color: #fff;
}

section {
    min-height: 100vh;
    width: 100%;
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    width: 90%;
    max-width: 500px;
    margin: 0 auto;
    background-color: rgb(51,55,59);
    border-radius: 8px;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    border: 2px solid orange;
}

.container p {
    font-size: 3rem;
    font-weight: 300;
    line-height: 3rem;
    text-align: justify;
}

button {
    border: 2px solid orange;
    margin-top: 40px;
    width: fit-content;
    padding: 2rem;
    background-color: rgb(25, 28, 29);
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    align-self: flex-end;
}